body {
    background-color: #a60329a3;
    color: #0a0408;
}

#appTitle {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Staatliches', sans-serif;
    font-size: 80px;
}

#genreForm, #playBtn {
    text-align: center;
    margin: 1em;
    margin: 0px auto;
    display: block;
    font-family: 'Fredoka One', sans-serif;
}

#movieInfo {
    width:  65%;
    margin:  32px auto;
    max-height: 650px;
}

#movieInfo:after {
    content:  "";
    display:  table;
    clear:  both;
}

#moviePoster, #movieText {
    width:  50%;
    float:  left;
}

#moviePoster{
    max-height: inherit;
}

img#moviePoster {
    width:  100%;
    height:  auto;
    display:  block;
    margin:  auto;
    max-height: inherit;
}

#movieText {
    font-family: 'Questrial';
    color: #FEFBEA;
    line-height: 1.25;
    font-size: x-large;
}

#movieTitle {
    padding:  0.5em;
    width: 7em;
}

#movieOverview {
    padding:  1em;
    width: 15em
}

#playBtn {
    margin-top: 20px;
    font-size: 25px;
    padding: 7px 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #f98900;
    color: #ffe600;
    cursor:  pointer;
}

label {
    display: block;
    font-size: 35px;
    margin: 0.5em;
}

select {
    width: 15em;
    height: auto;
    margin: 1em;
    padding: 0.75em;
    font-weight: bold;
}

#likeOrDislikeBtns {
    text-align: center;
    margin: 0px auto;  
}

#likeBtn, #dislikeBtn {
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 12px;
    border-style: none;
    cursor:  pointer;
    margin: .5em;
}

#likeBtn {
    background-color: #22ba61;
    color: darkgreen;
}

#dislikeBtn {
    background-color: #e21818;
    color: #910000;
}